.sixsteps
 &__wrapper
  margin-top: -38rem
  padding-top: 32rem
  padding-bottom: 5rem
  background: $dark url('../img/form-lines.svg') no-repeat center / cover
.swiper
 &-slide
  &__heading
   &--block
    display: block
    line-height: 1.6
  &__description
   font-size: 1.2rem
   margin-bottom: 2rem
.work-order
 display: flex
 flex-wrap: wrap
 padding-top: 5rem
 &__item
  width: 33%
  margin-bottom: 2rem
  color: rgba($light, 0.4)
  &:first-child, &:nth-child(4)
    animation: invite 2s ease-in
  &:nth-child(2), &:nth-child(5)
    animation: invite 4s ease-in
  &:nth-child(3), &:last-child
    animation: invite 6s ease-in
 &__number
  position: relative
  font-size: 1.1rem
  font-family: 'Yeseva One', cursive
  line-height: 1.6
  &::after
   position: absolute
   content: ''
   width: 16px
   height: 1px
   bottom: -2px
   left: 1px
   background-color: $primary
 &__text
  font-size: 1.1rem
  line-height: 1.4
  &--block
   display: block
.slide
  &-value
    margin-bottom: 1.3rem
    font-family: 'Yeseva One', cursive
    font-size: 1.2rem

   