.sixsteps
 &--wrapper
  margin-top: -40rem
  padding-top: 32rem
.swiper
 &-slide
  &__heading
   &--block
    display: block
    line-height: 1.6
  &__description
   font-size: 1.2rem
   margin-bottom: 2rem
.work-order
 display: flex
 flex-wrap: wrap
 padding-top: 5rem
 &__item
  width: 33%
  margin-bottom: 2rem
  color: rgba($light, 0.4)
 &__number
  position: relative
  font-size: 1.1rem
  font-family: 'Yeseva One', cursive
  line-height: 1.6
  &::after
   position: absolute
   content: ''
   width: 16px
   height: 1px
   bottom: -2px
   left: 1px
   background-color: $primary
 &__text
  font-size: 1.1rem
  line-height: 1.4
  &--block
   display: block
.slide
  &-value
    margin-bottom: 1.3rem
    font-family: 'Yeseva One', cursive
    font-size: 1.2rem

   