.team
 &__wrapper
  padding-bottom: 5rem
 &__section-title
  margin-top: -42rem
  padding-bottom: 30rem
  color: $light
 &__description
  max-width: 32rem
 &__people
  position: relative
  text-align: center
  width: 272px
  margin: auto
 &__image
  display: block
  margin: auto
 &__card
  box-shadow: 0px 10px 15px rgba($black, 0.05)
  margin-top: -3rem
  background: $light
  position: relative
  max-width: 17.6rem
  margin: auto
  margin-top: -6rem
  padding: 0.5rem 2.14rem
 &__experience
  max-width: 17.6rem
  background-color: $primary
  margin: auto
  padding: 1rem 3rem
  text-transform: uppercase
  color: $light
  font-size: 0.928rem
  letter-spacing: 1px
 &__activity
  position: absolute
  top: -40px
  left: -35px
  width: 5rem
  height: 5rem
  background: $primary
  display: flex
  box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5)
  &-icon
   margin: auto
 &__name
  font-size: 1.285rem
.people
  &__wrapper
   margin-top: -23rem
   margin-bottom: 5rem
.name
 &__person
  line-height: 1.785rem
  font-family: 'Yeseva One', cursive
  margin-top: 1rem
  margin-bottom: 0.6rem
 &__ship
  color: $secondary
  margin-bottom: 1.3rem
  display: block
